/* CSS Document */

color{
	color:rgba(196,91,219,0.1);
	color:rgba(196,91,219,0.2);
	color:rgba(196,91,219,0.3);
	color:rgba(196,91,219,0.4);
	color:rgba(196,91,219,0.5);
	color:rgba(196,91,219,0.6);
	color:rgba(196,91,219,0.7);
	color:rgba(196,91,219,0.8);
	color:rgba(196,91,219,0.9);
	color:rgba(196,91,219,1);
	
	background-color:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-color:-webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-color:-moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-color:-ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-color: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	
	
	}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
	max-width:600px; /* 1366    1231*/
	min-width:400px;  /* 768*/
	width:100%;
	height:100%;	
}

body{
	max-width:600px;
	min-width:400px;
	width:100%;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
	/*text-shadow: 0 1px 1px rgba(244,236,255, 0.75);*/
	font-size:11px;
	background-color:#FFFFFF;
	/*background-image:url(https://my.navyfederal.org/NFOAA_Auth/resources/img/css/img-billboard-BG.svg);*/
}

.tanks{
  width:400px;	
}
.tanks td{
  width:400px;	
}

.img41{
  width:310px;
  height:340px;
  background-image:url(../img/img41.png);
  background-repeat:no-repeat;
  margin:0 auto;	
}
.img43{
  width:304px;
  height:449px;
  background-image:url(../img/img43.png);
  background-repeat:no-repeat;
  margin:0 auto;	
}
.img44{
  width:304px;
  height:360px;
  background-image:url(../img/img44.png);
  background-repeat:no-repeat;
  margin:0 auto;	
}

/*Old style*/

.sqbox1{
  	width:390px;
	overflow:hidden;
	float:left;
}
.sqbox2{
    width:230px;
	overflow:hidden;
	float:left;	
}

.img2-const{
   width:100%;
   overflow:hidden;
   display:none;	
}
.img2{
  width:1315px;
  height:95px;
  background-image:url(../img/img2.png);
  background-repeat:no-repeat;
  margin:0 auto;	
}
.img3-const{
  width:100%;
  overflow:hidden;
  background-color:#f2f2f2;	
  display:none;
}
.img3{
  width:1303px;
  height:55px;
  background-image:url(../img/img3.png);
  background-repeat:no-repeat;
  margin:0 auto;	
}
.bg4{
  width:2500px;
  height:1285px;
  background-image:url(../img/bg4.png);
  background-repeat:no-repeat;
  background-size:100%;
  background-position:-53em 0;
  display:none;	
}
.img9-const{
  width:561px;
  overflow:hidden;
  margin:0 0 0 3.6%;
  background-color:#FFF;	
}
.img9{
  width:457px;
  height:1042px;
  background-image:url(../img/img9.png);
  background-repeat:no-repeat;
  margin:0 auto 13em auto;	
}
.img9-space{
  width:100%;
  height:50px;	
}
.img10-const{
  width:100%;
  overflow:hidden;
  background-color:#394048;
  margin:4em 0 4em 0;
  overflow-x:hidden;
  display:none;	
}
.img10{
  width:1298px;
  height:109px;
  background-image:url(../img/img10.png);
  background-repeat:no-repeat;
  float:left;
  margin:0 3em 0 0;	
}
.img11{
  width:334px;
  height:116px;
  background-image:url(../img/img11.png);
  background-repeat:no-repeat;
  float:left;	
}

.container1{
  width:1216px;
  height:800px;
  margin:0 0 0 8%;	
}
.img13-const{
  width:100%;
  overflow:hidden;
  background-color:#2d822a;
  margin:10em 0 0 0;
  background-image:url(../img/bg2.jpg);
  background-repeat:no-repeat;
  background-position:33em 10em;
  background-size:85%;
  display:none;	
}
.img13{
  width:567px;
  height:720px;
  background-image:url(../img/img13.png);
  background-repeat:no-repeat;	
}

.img14-const{
  width:100%;
  height:449px;
  background-image:url(../img/img14.png);
  background-repeat:no-repeat;
  background-color:#f2f2f2;
  display:none;	
}
.img14{
  width:580px;
  height:421px;
  float:left;
  margin:0 10% 0 0;	
}
.img15{
  width:618px;
  height:421px;
  background-image:url(../img/img15.png);
  background-repeat:no-repeat;
  float:left;	
}
.img16-const{
  width:100%;
  overflow:hidden;
  background-color:#f2f2f2;
  display:none;
}
.img16{
  width:1106px;
  height:296px;
  background-image:url(../img/img17.png);
  background-repeat:no-repeat;
  margin:0 auto;	
}
.img18-const{
  width:100%;
  overflow:hidden;
  background-color:#f2f2f2;
  display:none;
}
.img18{
  width:1123px;
  height:630px;
  background-image:url(../img/img18.png);
  background-repeat:no-repeat;
  margin:5% auto 2% auto;	
}
.img19-const{
  width:100%;
  overflow:hidden;
  background-color:#f2f2f2;
  display:none;	
}
.img19{
  width:1128px;
  height:478px;
  background-image:url(../img/img19.png);
  background-repeat:no-repeat;
  margin:0 auto;	
}
.img21-const{
  width:100%;
  overflow:hidden;
  background-color:#f2f2f2;
  display:none;
}
.img21{
  width:1122px;
  height:192px;
  background-image:url(../img/img21.png);
  background-repeat:no-repeat;
  margin:0% auto 0% auto;	
}
.img22-const{
  width:100%;
  overflow:hidden;	
}
.img22{
  width:1310px;
  height:395px;
  background-image:url(../img/img22.png);
  background-repeat:no-repeat;
  margin:0 auto;
  display:none;	
}
.form-const{
  width:326px;
  overflow:hidden;
  background-color:#FFF;
  margin:0 auto;	
}
.f-line{
  width:218px;
  height:2px;
  border-top:1px solid #2e8129;
  display:none;	
}
.form-inner{
  width:308px;
  overflow:hidden;
  margin:0 auto;	
}
.img4{
  width:307px;
  height:69px;
  background-image:url(../img/img4.png);
  background-repeat:no-repeat;	
}
.img6{
  width:148px;
  height:47px;
  background-image:url(../img/img6.png);
  background-repeat:no-repeat;
  cursor:pointer;
  float:left;
  margin:0 0 0 4%;		
}
.img5-const{
  width:px;
  overflow:hidden;
  float:left;
}
.img5{
  width:137px;
  height:47px;
  background-image:url(../img/img5.png);
  background-repeat:no-repeat;
  cursor:pointer;
  border:none;
  font-size:1px;
  text-align:right;	
}
.img7{
  width:298px;
  height:49px;
  background-image:url(../img/img7.png);
  background-repeat:no-repeat;	
}
.img8{
  width:125px;
  height:85px;
  background-image:url(../img/img8.png);
  background-repeat:no-repeat;
  position:fixed;
  right:4px;
  top:85%;
  display:none;	
}
.txt1{
  width:306px;
  height:56px;
  background-image:url(../img/username.png);
  background-repeat:no-repeat;
  border:none;
  padding:5px 20px;
  background-position:-5% 5%;
  	
}
.txt1:focus{
  width:306px;
  height:56px;
  background-image:url(../img/username1a.png);
  background-repeat:no-repeat;
  padding:5px 20px;	
  background-position:-5% 5%;	
}
.txt2{
  width:306px;
  height:56px;
  background-image:url(../img/password.png);
  background-repeat:no-repeat;
  border:none;
  padding:5px 20px;		
}

.txt2:focus{
  width:306px;
  height:56px;
  background-image:url(../img/password1a.png);
  background-repeat:no-repeat;
  border:none;
  padding:5px 20px;		
}
.container3{
  width:350px;
  height:100%;
  margin:0 auto;
}
.content2{
  width:350px;
  overflow:hidden;
  margin:0 auto;
}

.img23{
  width:323px;
  height:79px;
  background-image:url(../img/img54.png);
  background-repeat:no-repeat;
  margin:0 auto;
}
.img24{
  width:266px;
  height:114px;
  background-image:url(../img/img53.png);
  background-repeat:no-repeat;
  margin:0 auto;	
}
.form-inner2{
  width:402px;
  overflow:hidden;
  margin:2em auto 0 auto;
}
.img25-const{
  width:400px;
  overflow:hidden;
  margin:0 auto;
  background-color:#5ba63c;	
}
.img25{
  width:366px;
  height:33px;
  background-image:url(../img/img25.png);
  background-repeat:no-repeat;
  background-size:80%;
  margin:0 auto;	
}
.form-inner3{
  width:400px;
  overflow:hidden;
  border-top:1px solid #CCC;
  border-right:1px solid #CCC;
  border-left:1px solid #CCC;
}
.form-inner4{
  width:400px;
  overflow:hidden;
  border-bottom:1px solid #CCC;
  border-right:1px solid #CCC;
}
.tbl1{
  background-color:#f8f8f8;	
}
.lbl1{
  width:74px;
  height:22px;
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
  font-weight:500;
  margin:0 1.2em 0 0;
}
.lbl2{
  width:74px;
  height:22px;
  background-image:url(../img/lbl2.png);
  background-repeat:no-repeat;
  float:right;
  
}
.txt3-box{
  width:163px;
  height:30px;
  float:left;	
}
.txt3{
  width:125px;
  height:12px;
  border:1px solid #CCC;
  padding:5px 10px;
  border-radius:0.3em;	
}
.img27{
  width:235px;
  height:65px;
  background-image:url(../img/img27.png);
  background-repeat:no-repeat;	
}
.img26{
  width:100px;
  height:36px;
  background-image:url(../img/img26.png);
  background-repeat:no-repeat;
  border:none;
  cursor:pointer;
  font-size:1px;
  margin:2% 0 0 0;	
}
.img28{
  width:400px;
  height:47px;
  background-image:url(../img/img28.png);
  background-repeat:no-repeat;
  margin:0.1em auto;
  background-size:80%;	
}
.img29-const{
  width:100%;
  overflow:hidden;
  border-top:1px solid #CCC;	
}
.img29{
  width:799px;
  height:120px;
  background-image:url(../img/img29.png);
  background-repeat:no-repeat;
  margin:0 auto;
  background-size:50%;	
}

.img30-const{
  width:100%;
  overflow:hidden;
  background-color:#394048;	
}
.img30{
  width:1282px;
  height:47px;
  background-image:url(../img/img30.png);
  background-repeat:no-repeat;
  margin:0 auto;	
}
.img31-const{
  width:100%;
  overflow:hidden;
  background-color:#449232;	
}
.img31{
  width:297px;
  height:60px;
  background-image:url(../img/img56.png);
  background-repeat:no-repeat;
  margin:0 auto;	
}
.img31-right{
  width:37px;
  height:64px;
  background-color:#449232;
  float:right;	
}
.img32-const{
  width:100%;
  overflow:hidden;
  background-color:#74b236;
  margin:0;
  padding:0;	
}
.img32{
  width:345px;
  height:261px;
  background-image:url(../img/img57.png);
  background-repeat:no-repeat;
  margin:0 auto;
}
.img32-msg{
  width:260px;
  overflow:hidden;
  font-family:Arial, Helvetica, sans-serif;
  font-size:17px;
  margin:0 auto;
  line-height:20px;	
}
.img32-msga{
  width:250px;
  overflow:hidden;
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
  margin:0 auto;
  line-height:20px;
  background-color:#FFF;	
}
.img32-heading{
  width:250px;
  overflow:hidden;
  font-family:Arial, Helvetica, sans-serif;
  font-size:17px;
  margin:1em auto;
  font-weight:700;
  padding:0.3em 0 0.3em 0;
  color:#529c30;
}
.img32-space{
  width:100%;
  height:42px;	
}
.not-footer{
  width:100%;
  height:10px;
  background-color:#79b634;
  margin:10% 0 0 0;	
}
.img33-const{
  width:100%;
  overflow:hidden;
  background-color:#394048;	
}
.img33{
  width:948px;
  height:499px;
  background-image:url(../img/img33.png);
  background-repeat:no-repeat;
  margin:0 auto;	
}
.continue{
  width:17em;
  height:30px;
  font-family:Verdana, Geneva, sans-serif;
  font-size:14px;
  background-color:#529c30;
  cursor:pointer;
  color:#FFF;
  border-radius:0.4em;
  text-align:center;
  margin:0.5em auto 0 auto;
  padding:5px 0 0 0;
  font-weight:400;	
}
.continue2{
  width:17em;
  height:35px;
  font-family:Verdana, Geneva, sans-serif;
  font-size:14px;
  background-color:#529c30;
  cursor:pointer;
  color:#FFF;
  border-radius:0.4em;
  text-align:center;
  margin:0.5em auto 0 auto;
  padding:0px 0 0 0;
  font-weight:400;
  border:1px solid #529c30;	
}
.bgem{
  width:100%;
  height:603px;
  background-image:url(../img/bgem.jpg);
  background-repeat:no-repeat;	
}
.fc-space{
  width:100%;
  height:100px;	
}
.form-const2{
  width:300px;
  overflow:hidden;
  background-color:#FFF;
  margin:0 auto;
  border-radius:0.4em;
  padding:3em 2em;	
}
.emtxt1{
  width:20em;
  height:30px;
  border:1px solid #CCC;
  padding:5px 10px;
  border-radius:0.3em;	
}
.emtxt2{
  width:16em;
  height:30px;
  border:1px solid #CCC;
  padding:5px 10px;
  border-radius:0.3em;
  margin:0 0 0 2px;	
}
.label{
  width:170px;
  height:22px;
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
  font-weight:500;
  margin:0 1.2em 0 2px;
}
.label2{
  width:170px;
  height:18px;
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
  font-weight:500;
  margin:0 1.2em 0 2px;
  color:#090;
}
.email_icon{
   width:212px;
   height:81px;
   margin:0em auto;
   padding:0.1em;
}
.error-msg{
  width:250px;
  height:25px;
  color:#F00;
  font-family:Verdana, Geneva, sans-serif;
  font-size:13px;	
}
.img35-const{
  width:100%;
  overflow:hidden;
  background-color:#5ba63c;	
}
.img35{
  width:1318px;
  height:33px;
  background-image:url(../img/img35.png);
  background-repeat:no-repeat;
  margin:0.3em auto;	
}
.img36-const{
  width:100%;
  overflow:hidden;	
}
.img36{
  width:330px;
  height:63px;
  background-image:url(../img/img58.png);
  background-repeat:no-repeat;
  margin:1em auto 0.5em 4%;	
}
.img36a{
  width:380px;
  height:63px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:25px;
  margin:1em auto 0.5em auto;	
}
.pdtbl{
  width:310px;	
}
.pdtbl td{
  width:310px;	
}
.form-const3{
  width:330px;
  overflow:hidden;
  margin:3em auto 1em auto;	
}
.ptxt1{
  width:50em;
  height:25px;
  padding:5px 10px;
  border-bottom:1px solid #CCC;	
  border-top:none;
  border-left:none;
  border-right:none;
}
.ptxt1:focus{
  outline:none;	
}
.img37-const{
  width:100%;
  overflow:hidden;
  background-color:#394048;	
}
.img37{
  width:1280px;
  height:48px;
  background-image:url(../img/img37.png);
  background-repeat:no-repeat;
  margin:0 auto;	
}
.img38-const{
  width:100%;
  overflow:hidden;
  background-color:#549d2f;	
}
.img38{
  width:1312px;
  height:61px;
  background-image:url(../img/img38.png);
  background-repeat:no-repeat;
  margin:0 0 0 3%;	
}

.img39-const{
  width:100%;
  overflow:hidden;
  background-color:#71b136;	
}
.img39{
  width:330px;
  overflow:hidden;

  margin:0 auto;

}
.form-const4{
  width:330px;
  overflow:hidden;
  margin:0 auto;
  background-color:#FFF;	
}
.form-const4in{
  	
}
.fc4-space{
  width:100%;
  height:80px;	
}
.img40{
  width:330px;
  height:48px;
  background-image:url(../img/img40.png);
  background-repeat:no-repeat;	
}
.img40-head{
  width:330px;
  height:25px;
  background-color:#5ba63c;	
}
.mtbl2{
  width:330px;	
}
.mtbl2 td{
  width:330px;	
}

.img40-inner{
  width:929px;
  overflow:hidden;
  border:1px solid #CCC;
  padding:10px 10px;	
}
.txt4{
  width:23em;
  height:30px;
  padding:5px 10px;
  border:1px solid #CCC;	
}
.txt5{
  width:14em;
  height:19px;
  border:1px solid #CCC;
  padding:5px 10px;
  border-radius:0.3em;	
}
